/* Changes made to the overall structure of the CSS codebase to follow the semantic structure of the HTML elements. */

/* Please see seperate comments for each element changed below to list specific changes made. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* This font-family was previously duplicated throughout seperate classes and elements and has been added one time to the 'body' element.
    As the header and footer elements require different font families, their respective font-family attributes have been left as is. */
}

/* Updated the header element to include a 'display' attribute with a value of 'flex' and a 'justify-content' attribute with a value of 'flex-end'.
    I utilised part of a solution found on StackOverflow to solve this issue of having the h1 and nav elements share the same space within the header element.  
    Please see my README.MD file attached to this repo for specifics on how I sourced this code and credits for the user who posted it.  */

/* All seperate header 'div' classes have been deleted and combined into this single 'header' element. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

h1 {
    display: flex;
    margin-right: 100px;
    font-size: 48px;
     /* This 'margin-right' attribute with the value of 'auto' has been set so the h1 content can sit on the left side of the header parent element while the 'nav' sibling content can reside in the same horizontal space but on the right.
     Please see my README.MD file attached to this repo for specifics on how I sourced this code and credits for the user who posted it on StackOverflow. */
    margin-right: auto; 
}
    
/* Combined the previously seperate 'div' classes containing the navigation content into a single semantic' nav' element. */
nav {
    display: inline;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline;
    padding: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* An 'a:hover' element has been added to increase reactivity of site and improve user experience.
The colour of 'lightgrey' was chosen as the attribute to provide a subtle change while retaining readability. */
a:hover {
    color: lightgrey;
}

/* Rather than use a single div element to contain the hero-image, it has been changed so that an img tag with the hero image sits as a child element within the hero-image element. */
.hero-image-content img {
    height: 50%;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* As mentioned in the HTML comments, the class name for these section tags have been tweaked to better define their roles on the site, resulting in better readability.  */
.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* These previously seperate classes have been combined into one to reduce repetition. */
#search-engine-optimization, #online-reputation-management, #social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* The previously seperate 'img' elements have been combined into one within the 'main-content' class. */
.main-content img {
    max-height: 200px;
}

/* The previously seperate 'h2' elements have been combined into one within the 'main-content' class. */
.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* As mentioned in the HTML comments, the class name for these section tags have been tweaked to better define their roles on the site, resulting in better readability.  */
.right-content {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%; 
    background-color: #2589bd;
}

/* These previously seperate classes have been combined into one to reduce repetition. */
.benefit-lead, .benefit-brand, .benefit-cost {
    /* I also increased the 'margin-bottom' attribute to '50px' so the right-content ends flush alongside the main content.
    (PLEASE NOTE: this only works while the viewport is set to 100% as adding a @media screen query is outside the scope of this project. */
    margin-bottom: 50px;
    color: #ffffff;
}

/* The previously seperate 'h3' elements have been combined into one within the 'right-content' class. */
.right-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The previously seperate 'img' elements have been combined into one within the 'right-content' class. */
.right-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* A 'border-top' attribute has been added to clearly differentiate the footer elements for the user. */
    border-top: 2px solid black;
}

/* Although the rest of the CSS codebase follows the semantic structure of the HTML elements, the float-right and float left classes have been moved to the bottom as they act as modifiers for other content.
Additionally, as they could be utilised for future updates to the site, having them at the bottom improves readability of the CSS codebase.  */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
